body  {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    line-height: 2;
    color: #40514E;
}

h1  {
    margin: 0px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    margin-top: 20px;
    color: black;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: black;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.bio {
    width: 30%;
    margin: 20px auto;
}

hr {
    border-style: dotted none none;
    height: 0px;
    width: 5%;
    border-color: grey;
    border-width: 5px;
    margin: 70px auto;
}

a {
    color: #40514E;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: white;
}

.footer-link {
    margin: 10px 5px;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
}

.mountain {
    margin-bottom: 40px;
}

.top-container {
    background-color: #D0E8F2;
    position: relative;
    padding-top: 60px;
}

.middle-container {
    background-color: #D0E8F2;

}

.bottom-container {
    background-color: #D0E8F2;
}

.skill-row {
    width: 50%;
    margin: 60px auto;
    text-align: left;

}

.python-img {
    float: left;
    margin-right: 30px;
}

.writing-img {
    float: right;
    margin-left: 30px;
}

.BUTTON_EIS {
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 15px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px 20px;
   border-color-hover: ;
   border-style-hover: solid;
   border-width-hover: 1;
   background-color: #2C394B;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 20px;
}

.BUTTON_EIS:hover {
   background: #334756;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 15px;
   text-decoration: none;
}

